@tailwind base;
@tailwind components;
@tailwind utilities;
@daisyui full;

@layer base {
    html {
        @apply relative min-h-full;
        scroll-behavior: smooth;
    }

    body {
        @apply font-custom m-0 min-w-[960px] bg-white p-0 leading-loose text-[1.4rem] text-[#333];
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    a {
        @apply text-[#333];
    }
}